@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #020617;
}

::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #64748b;
}